<table class="table">
  <thead>
    <div class="mt-4">
      <p>List Courses</p>
      <a href='/me/trash/courses'>Recycle Bin</a>
    </div>
    <tr>
        <th scope="col">#</th>
        <th scope="col">
          Short Name
          {{{sortable 'slug' _sort}}}
          </th>
        <th scope="col">Course Name</th>
        <th scope="col">Create Course</th>
        <th>Edit</th>
        <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    {{#each course}}
        <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.slug}}</td>
            <td>{{this.name}}</td>  
            <td>{{this.createdAt}}</td> 
            <td><a href="/courses/{{this._id}}/edit">Edit</a></td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#delete-modal" data-id="{{this._id}}">Remove</a></td> 
        </tr>
        {{else}}
          <tr>
              <td colspan="5" class="text-center">
                Do not have any courses.
              <a href="/courses/create">Buy a course</a>
              </td>
          </tr>
    {{/each}}
   
  </tbody>
</table>

<!-- model delete -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Do you want to delete???
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="btn-delete-course">Remove</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>

<script>
   var exampleModal = document.getElementById('delete-modal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var id = button.getAttribute('data-id');
      var deleteform = document.forms['delete-course-form'];
      
        // click button to delete
      var btnDelete = document.getElementById('btn-delete-course');
      btnDelete.onclick = function (){
        deleteform.action = '/courses/' + id + '?_method=DELETE';
        deleteform.submit();
      }

    })
</script>